.ant-collapse-header {
	width: fit-content !important;
}

.ant-collapse-content-box {
	padding: 0 !important;
}

.ant-form-item-control-input {
	background-color: #fff !important;
}

.ant-form-item-label {
	text-align: start !important;
}

.ant-collapse-header {
	padding-left: 0 !important;
	color: #594af1 !important;
}

.ant-btn-primary {
	background: #594af1;
	color: #fff !important;
}

.ant-btn-primary:hover {
	background: #594af1 !important;
	color: #fff !important;
}

.ant-btn-dangerous:hover {
	background: #ff4d4f !important;
	color: #fff !important;
}

.ant-btn-primary:disabled {
	background: #594af1 !important;
	opacity: 0.6 !important;
	color: #fff !important;
}

.chose-wallet .ant-segmented-item {
	width: 116px !important;
	height: 110px !important;
}

.ant-segmented {
	background: #D9D9D9 !important;
}

.ant-segmented .ant-avatar {
	margin-top: 10px !important;
}

.ant-form-item .ant-form-item-label >label::after {
	content: '' !important;
}
